
body {
  background-color: black;
  font-family: courier;
  margin: 0;
}

h1, p {
  font-family: Lato;
}

ul {
  padding: 0;
}

li {
  display: flex;
  height: 20px;
}

li:nth-child(even) {
  background-color: #303030;
}

li:nth-child(odd) {
  background-color: #252525;
}

li {
  padding: 8px;
  color: rgb(255, 79, 79);
}

li.header {
  color: white
}

li.running {
  color: rgb(68, 179, 68);
}

li:hover {
  border-top: 1px solid #c6c6c6;
  border-bottom: 1px solid #c6c6c6;
}

.fugeId {
  width: 5%;
}

.processName {
  width: 60%;
}

.allProcessesName {
  margin-left: 5%;
  width: 76%;
}

.processType {
  width: 8%;
}

.processStatus {
  width: 8%;
}

.action {
  opacity: 0.6;
  color: white;
  margin: 0 8px;
  cursor: pointer;
}

.action:hover {
  opacity: 1.0;
}

.action.debug {
  color: #6eb96e
}

.action.play {
  color: #9cdcfe
}

.action.kill {
  color: #c9c89d;
}

.action.kill:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.action.restart {
  color: #df7721
}

.action.notification {
  color: #cbba19
}

.action.notification.enabled {
  opacity: 1.0;
}

.action.notification:hover {
  animation: bell 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: rotate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes bell {
  10%, 90% { transform: rotate(10deg); }
  20%, 80% { transform: rotate(0deg); }
  30%, 50%, 70% { transform: rotate(10deg); }
  40%, 60% { transform: rotate(0deg); }
}


.dnsRecord {
  color: white;
}
.recordType {
  width: 10%;
}

.domain {
  width: 40%;
}

.target {
  width: 40%;
}

.port {
  width: 10%;
}

.applyPrompt {
  width: 10%;
}

.applyInput {
  width: 90%;
}

.monitor {
  width: 3%;
}

.monitor.yes {
  color: white;
}

.monitor.no {
  color: #333;
}

.tail {
  width: 3%;
}

.tail.yes {
  color: white;
}

.tail.no {
  color: #333;
}

.applyInput > input[type=text] {
  margin-left: -3px;
  font-size: 1em;
  font-family: Courier;
  outline: none;
  background-color: transparent;
  color: white;
  -webkit-appearance: caret;
  height: 18px;
  width: 100%;
}

.dockerComposeProcess.Up {
  color: rgb(68, 179, 68);
}

.dockerComposeProcess .processName {
  width: 20%;
}

.dockerComposeProcess .process {
  width: 25%;
}

.dockerComposeProcess .status {
  width: 10%;
}

.dockerComposeProcess .tcpStatus{
  width: 45%;
  overflow: hidden;
  white-space: nowrap;
}

